body{
	width: 1360 px;
	height: 768 px;
	background: url("imagenes/fondo.jpg");
	position: relative;
}
#telef{
	float: left;
	background: #E1E9F0;
	width: 100%;
	height: 35px;
}
#telefono{
	font-size: 25px;
	float: right;
	margin-right: 200px;
	
}
#banner{
	width: 1350px;
	height: 100px;
	background: url("imagenes/rutas.png");
	position: relative;
	float: left;
}
#menu{
	width: 100%;
	height:50px;
	float: left;
}
ul#menu{
	text-align: center;
	padding: 0;
}
ul#menu li{
	display: inline;
}
ul#menu li a{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	color: black;
	padding: 15px 50px;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
}
ul#menu li a:hover{
	background: #CFCDC7;
}
#textos{
	margin-top: 100px;
	float: left;
}
#ini{
	font-size: 25px;
	padding: 0px 70px;
}
#in{
	font-size: 25px;
	padding: 0px 70px;
}
#inic{
	font-size: 15px;
	padding: 0px 70px;
}
#hocen{
	margin-top: 40px;
	margin-left: 45px;
	float: left;
}
#qs{
	margin-top: 150px;
	padding: 0px 450px;
	float: left;
	font-size: 30px;
}
#xd{
	margin: 20px;
}
#video{
	margin-top: 35px;
	float: left;
	margin-left: 400px;
}
#pie{
	float: left;
	background: #E1E9F0;
	width: 100%;
	height: 200px;
	margin-top: 50px;
}
#instagram{
	float: left;
	margin-left: 600px;
	margin-top: 25px;
}
#twitter{
	float: left;
	margin-left: 50px;
	margin-top: 25px;
}
#youtube{
	float: left;
	margin-left: 50px;
	margin-top: 25px;
}
#arriba{
	float: left;
	margin-left: 500px;
	margin-top: 40px;
}
#propietario{
	float: left;
	margin-left: 500px;
	margin-top: 15px;
	text-align: center;
}
